body {
  box-sizing: border-box;
  text-align: center;
  background-color: black;
}
hr {
  width: 450px;
}
#p {
  font-family: 'Work Sans', sans-serif;
  font-size: 80px;
  text-align: center;
  padding: 10px;
  color: white;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  font-size: 50px;
}
#h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: white;
}
#container {
  display: flex;
  flex-wrap: wrap;
  display: block;
  background-color: black;
  width: auto;
  margin: auto;
}
#wrapper {
  width: 500px;
  margin: auto;
}
#start {
  display: inline-block;
  margin: 10px 100px;
  height: 30px;
  width: auto;
  border: none;
  color: white;
  background-color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  padding-top: 8px;
}
#start:hover {
  cursor: pointer;
}
#score {
  display: inline-block;
  margin: 10px auto;
  height: 30px;
  width: auto;
  border: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  padding-top: 8px;
  font-weight: 100;
}
#level {
  display: inline-block;
  margin: 10px auto;
  height: 30px;
  width: auto;
  border: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  padding-top: 8px;
  font-weight: 100;
}

/*--- SIMON Boxes ---*/
.box {
  width: 225px;
  height: 225px;
  border: 5px solid black;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  transition: .03s;
}
.box:hover {
  cursor: pointer;
  /*opacity: 1.0;*/
  transition: .3s;
/* possibly add an animation */
}
.box1 {
  background-color: #FF5EF5;
  opacity: .5;
}
.box2 {
  background-color: #52E3FF;
  opacity: .5;
}
.box3 {
  background-color: #E7FF6D;
  opacity: .5;
}
.box4 {
  background-color: #5EFF76;
  opacity: .5;
}

.light {
  animation: light .8s linear;
}

@keyframes light {
  0% 100%{opacity: .6;}
  50% {opacity: 1;}
}
.shake {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translateX(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}

@media only screen and (max-width: 500px) {
  .box {
    width: 150px;
    height: 150px;
  }
  hr {
    width: 300px;
  }
  span {
    font-size: 40px;
  }
  #p {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #wrapper {
    width: 400px;
    margin: auto;
  }
  #start {
    display: inline-block;
    margin: 10px 20px;
    height: 30px;
    width: 100px;
    position: relative;
  }
  #score {
    display: inline-block;
    margin: 10px auto;
    height: 30px;
    width: auto;
    position: relative;
  }
  #level {
    display: inline-block;
    margin: 10px auto;
    height: 30px;
    width: auto;
    position: relative;
  }
}
@media only screen and (max-width: 400px) {
  .box {
    width: 100px;
    height: 100px;
  }
  hr {
    width: 200px;
  }
  span {
    font-size: 30px;
  }
  #p {
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #wrapper {
    width: 220px;
    margin: auto;
  }
  #start {
    display: inline-block;
    margin: 10px 20px;
    height: 30px;
    width: auto;
    position: relative;
  }
  #score {
    display: inline-block;
    margin: 10px auto;
    height: 30px;
    width: auto;
    position: relative;
    font-size: 16px;
  }
  #level {
    display: inline-block;
    margin: 10px auto;
    height: 30px;
    width: auto;
    position: relative;
    font-size: 16px;
  }
}
